/node_modules
/vendor
.env
.DS_Store
Thumbs.db
/.idea
/.vscode
/.vscode-server
/.cache
/.composer
/.config
/.npm
/.ssh
/.bash_history
/.bashrc
/.profile
/.lesshst
/.mysql_history
/storage/*.key
/storage/logs/*
!/storage/logs/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
